{::options parse_block_html="true" /}

<section class="<%= section_classes.join(' ') %>">

<% PROJECTS_TYPES.each do |projects_type, projects_type_title| %>

### <%= projects_type_title %>

<% data['projects'][projects_type.to_s].each do |project| %>

<%= render_partial "projects_list/#{projects_type}", project: project %>

<% end %>{: .projects }

<% end %>
</section>

{::options parse_block_html="true" /}
