<style>
	.pagination {
		width: calc(100% - var(--horizontal-margin) * 2);
		text-align: right;
	}
</style>

<div class="pagination">
	<span class="pageNumber"></span> / <span class="totalPages"></span>
</div>
