@import 'projects.css';

body {
	margin: 1em;
	font-family: sans-serif;

	& > main {
		max-width: 700px;
		margin: 0 auto;

		h2 {
			font-size: 1.7em;
		}

		h3 {
			font-size: 1.4em;
		}

		p {
			margin: 0.7em 0;
			line-height: 1.5em;
		}

		a {
			color: mediumblue;
		}

		code {
			padding: 0.25em;
			background: #e5e5e5;
			border-radius: 3px;
		}

		ul > li {
			line-height: 1.4em;
		}
	}
}
